@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-gray-900 bg-gray-50;
  }
  
}

@layer components {
  .line-clamp-1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
  
  .line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  
  .line-clamp-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
  
  /* Swiper custom styles */
  .swiper-button-next,
  .swiper-button-prev {
    @apply text-primary-600 !important;
  }
  
  .swiper-pagination-bullet-active {
    @apply bg-primary-600 !important;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}